/* Start Wrapper for background */
.wrapper {
  background-image: url("/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0 0.5rem;
  width: 100%;
}

/* Start Container */
.container {
  width: 80%;
  margin: auto;
}

/* Start Hero Section */
.hero {
  display: flex;
}

.hero .desc {
  max-width: 60%;
}

.hero .desc h2 {
  font-size: 2rem;
  font-weight: 900;
}

.hero .desc h2.arTitle {
  direction: rtl;
  text-align: center;
  font-family: "Boahmed AlHarf";
}

.hero .desc .form {
  margin-top: 80px;
}

.hero .desc .form h3 {
  text-decoration: underline;
  margin: 10px 0;
}

.hero .desc .form input {
  width: 500px;
  font-size: 1.2rem;
  padding: 16px;
  background-image: url("/play.svg");
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

.hero .desc .form p {
  margin: 10px 0;
}

.hero .img {
  width: 50%;
}

.hero .img img {
  width: 100%;
}

/* start Responsive Rules */

@media (max-width: 767px) {
  .wrapper {
    display: flex;
    align-items: center;
  }

  .container {
    width: 85%;
  }

  .hero {
    flex-direction: column;
  }

  .hero .desc {
    max-width: 100%;
  }

  .hero .desc h2 {
    font-size: 1.5rem;
  }

  .hero .img {
    display: none;
  }

  .hero .desc .form input {
    width: 100%;
  }
}
